@media(max-width:1400px) {}

@media(max-width:768px) {
    .offcanvas {
        width: 85% !important;
        height: 80%
    }
    section {
    padding: 30px 0;
}
.section-title {
    font-size: 30px;
 }

    .whatsapp {
        margin-top: 20px
    }

    .offcanvas-title img {
        width: 95px
    }

    header .navbar-nav {
        align-items: flex-start
    }


    header .navbar-brand {
        width: 10%;
        margin: 0;
    }

 

    .thumb-grid {
        gap: 12px;
        margin-top: 25px
    }

    .hero-content {
        top: 26%
    }

     .hero-section .custom-arrows {
        left: 12px;
        bottom: 10px;
        gap: 15px;
    }
    .artist-card img {
    display: none;
}
.artist-row {
     flex-direction: column;
     gap: 5px;
}
 .lang-dropdown {
     margin-top: 15px;
}


.card-slider-wrapper {
    bottom: 100px;
    padding: 0px 28px;
}
    .video-header {
    gap: 0px;
    flex-direction: column;
}
.trad-content {
    padding: 8px;
}
.trad-img {
    height: 200px;
}
.section-subtitle {
    font-size: 15px;
    margin-bottom: 16px;
   }
   .testimonial-sec .custom-arrows {
    left: 44%;
 
}
  .product-thumb-slider .thumb-box {
     margin: 8px 0px;
  }
   
}

@media(max-width:579px) {
    .offcanvas {
        width: 85% !important;
        height: 56%
    }
    header .navbar-nav {
        align-items: flex-start
    }

    header .navbar-nav {
        gap: 20px
    }

    header .navbar-brand {
        margin: 0;
        width: 18%
    }

    .section-title {
        font-size: 26px
    }

    .section-subtitle {
        font-size: 14px;
        margin-bottom: 10px
    }
}

@media(max-width:480px) {
    section {
        padding: 25px 0
    }

    header .header-top .top-info li span {
        color: #fff;
        font-size: 14px
    }

    header .header-top .top-info li i img {
        width: 25px;
        height: 25px
    }

    .sticky .headermn .navbar .navbar-brand {
        width: 18%;
        margin: 0
    }

    header .nav-link {
        color: #000;
        font-size: 13px
    }
    .hero-content h1 {
    font-size: 25px;
}
.hero-buttons {
    width: 100%;
    flex-direction: column;
}
.hero-content p {
    margin: 18px 0 18px;
   }
   .card-slider-wrapper {
    right: 0px;
    bottom: 55px;
    padding: 0%;
}
.hero-section .custom-arrows button {
    width: 30px;
    height: 30px;
    font-size: 13px;
}
.heading-img img {
    width: 80px;
    height: 28px;
    }

.watch-btn {
     padding: 6px 17px;
     font-size: 11px;
}
.main-video img {
    height: 300px;
}
.play-icon {
    height: 60px;
    width: 60px;
  }
  .play-icon img {
    width: 18px;
    height: 18px;
   }
   .heading-store {
    flex-direction: column;
    margin-bottom: 10px;
}
.trad-img {
    height: 250px;
}
.subscribe-box-footer input {
      padding: 4px 8px;
 }
 .social-pill {
    padding: 5px 10px;
     min-width: 140px;
}
.testimonial-sec .custom-arrows {
    left: 34%;
    bottom: -18px;
 }
 .testimonial-sec .custom-arrows button {
    width: 30px;
    height: 30px;
    font-size: 12px;
    }
        .offcanvas-title img {
        width: 38px;
    }

   
.pill {
    padding: 5px 6px;
    font-size: 10px;
}
.filter-btn {
     padding: 3px 8px;
     font-size: 11px;
}

.product-main-slider .img-box {
    height: 250px;
   }
   .product-thumb-slider .thumb-box {
    height: 70px;
     margin: 5px 0px;

   }
   .product-title {
    font-size: 25px;
    font-weight: 500;
   }
   .product-desc {
    line-height: unset;
    font-size: 14px;
    text-align: justify;
}
.inquiry-btn {
     padding: 8px;
    font-weight: 500;
     font-size: 14px;
}
.modal-close {
    top: -3px;
   }
   .tab-content-box {
       padding: 10px;
}
.blog-meta span {
    font-size: 12px;
     margin-right: 8px;
}
.sidebar-box {
    padding: 8px;
}
.recent-post-img {
    width: 114px;
    height: 100px;
 }
 .contact-card, .map-card {
     padding: 16px;
}
.custom-input {
     padding: 10px;
    font-size: 12px;
}
.map-box {
        height: 250px;
}
.faq-list {
    margin: 10px auto 0;
}
.hero-actions {
    margin-top: 10px;
    gap: 8px;
    flex-direction: column;
}
.artist-hero {
    height: 53vh;
   
}
.artist-title {
    font-size: 34px;
}

  
}